body{
    background-color: blueviolet;
    font-family: ;
    margin:opx:

    
}
h1{
color: blueviolet;
font-size: 40px;

}


p{
font-size: 25px;
}
header{
    border-bottom: brown;
    margin:2px;
    padding: 10px;
    color: blueviolet;

}